import(cubature, stringr)
importFrom("stats", "dlogis", "dnorm", "integrate", "plogis", "pnorm", "var")
export(QGparams, QGmvparams, QGicc, QGmvicc, QGpred, QGmvpred, QGmean, QGmvmean, QGvar.exp, QGvar.dist, QGvcov, QGpsi, QGmvpsi, QGlink.funcs, QGrn_mean_by_env, QGrn_vplas, QGrn_vgen, QGrn_va, QGrn_generate_shape, QGrn_generate_gradient)
