import(cubature)
importFrom("stats", "dlogis", "dnorm", "integrate", "plogis", "pnorm", "var")
export(QGparams, QGmvparams, QGicc, QGmvicc, QGpred, QGmvpred, QGmean, QGmvmean, QGvar.exp, QGvar.dist, QGvcov, QGpsi, QGmvpsi, QGlink.funcs)
